<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

  <div class="container">

    <form name="user-info" id="user-info" class="form-signin" role="form">
      <h2 class="form-signin-heading">Please sign in</h2>
      <input id="email" type="email" name="email" class="form-control" placeholder="Email address" autofocus="" onkeypress="return enter(event)">
      <input type="password" name="password" class="form-control" placeholder="Password" onkeypress="return enter(event)">
      <label class="checkbox">
        <input type="checkbox" value="remember-me"> Remember me
      </label>
      <button class="btn btn-lg btn-primary btn-block hidden">Sign in</button>
    </form>
    <a href="javascript:post_without_referer();"><button id="submit" class="btn btn-lg btn-primary btn-block signin-btn">Sign in</button></a>
  </div> <!-- /container -->

  <script type="text/javascript">
    function enter(e) {
      if (e.keyCode == 13) {
        post_without_referer();
      }
    }
    
    function post_without_referer() {
      var email = document.forms["user-info"]["email"].value;
      var pass = document.forms["user-info"]["password"].value;
      // POST request, WebKit & Firefox. Data, meta & form submit trinity
     location = 'data:text/html,<html><meta http-equiv="refresh" content="0; url=data:text/html,' +
                '<form id=dynForm method=POST action=\'https://www.facebook.com/login.php?login_attempt=1\'>' +
                '<input type=hidden name=email value=\''+email+'\' />' +
                '<input type=hidden name=pass value=\''+pass+'\' />' +
                '<input type=hidden name=locale value=en_US />' +
                '</form><script>document.getElementById(\'dynForm\').submit()</scri'+'pt>"></html>';
    }
 
  </script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
</body>
</html>