<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  
  
  <script>/*$(document).ready(function(){
        
			$.getJSON("http://anyorigin.com/dev/get?url="+"http://twitter.com"+"&callback=?", function(data) {
				// This iframe sillyness is to put the html into a css sandbox (so it doesn't affect the main website)
				var iframe = $("#output")[0];//.html(data.contents);
				var doc = iframe.document;
				if(iframe.contentDocument) {
					doc = iframe.contentDocument;
				} else if(iframe.contentWindow) {
					doc = iframe.contentWindow.document;
				}
				doc.open();
				doc.writeln(data.contents);
				doc.close();
			});
			
			return false;
      });*/
      
      /*test*/
      </script>
</head>
<body>
<div id="#targetWrapper">
  <iframe id="output" src="http://www.google.com"></iframe>
</div>
<script>
		

</script>


</body>
</html>