<html>
<head>
  
</head>
<body>
  <button id="AnyID">Test</button>
  
  <script>
    $("#AnyID").click(function() {
      $.ajax({
          type: "get",
          url: "test.py",
          data: {'param1':'abc'},
          datatype:"script",
          async: false,
          success: function(response) {
          // response is string, convert it to json and apply conditions.
          var json_obj= eval('(' + response + ')');//$.parseJSON("'"+response+"'");
          if (json_obj.type == 'Error'){
            alert(json_obj.msg);
          }
          else {
            alert(json_obj.msg);
          }// else closed
          }, // success closed
          error:function(xhr,err)
          {
              alert("Error connecting to server, please contact system administator.");
          }
      })//ajax closed
    }
  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</body>
 
</html>